<div class="row justify-content-center">
  <div class="col">
    <form [formGroup]="registrationForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="email">E-Mail:</label>
        <input type="text" name="email" class="form-control" id="email" formControlName="email">
      </div>
      <div class="alert alert-danger" [hidden]="registrationForm.controls.email.valid || registrationForm.controls.email.pristine">
        Du musst eine E-Mail-Adresse eingeben!
      </div>
      <div class="form-group">
        <label for="firstName">Vorname</label>
        <input type="text" name="firstName" class="form-control" id="firstName" formControlName="firstName">
      </div>
      <div class="alert alert-danger" [hidden]="registrationForm.controls.firstName.valid || registrationForm.controls.firstName.pristine">
        Du musst deinen Vornamen eingeben!
      </div>
      <div class="form-group">
        <label for="lastName">Nachname</label>
        <input type="text" name="lastName" class="form-control" id="lastName"
               formControlName="lastName">
      </div>
      <div class="alert alert-danger" [hidden]="registrationForm.controls.lastName.valid || registrationForm.controls.lastName.pristine">
        Du musst deinen Nachnamen eingeben!
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password"
               formControlName="password">
      </div>
      <div class="alert alert-danger" [hidden]="registrationForm.controls.password.valid || registrationForm.controls.password.pristine">
        Du musst ein Passwort eingeben!
      </div>
      <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-primary">registrieren</button>
    </form>
  </div>
</div>
<div class="row justify-content-center  pt-3">
  <div class="col-sm-12 col-md-8 col-lg-6">
    <div id="registrationErrorMessage" class="alert alert-danger" *ngIf="registrationError">
      {{registrationError | json}}
    </div>
  </div>
</div>
